auto-install-peers=true
node-linker=hoisted
strict-peer-dependencies=false
shamefully-hoist=true
public-hoist-pattern[]=*
enable-pre-post-scripts=true
link-workspace-packages=true
save-workspace-protocol=true
node-version=18.19.0 